body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fff;
  
}
section{
  padding:50px 0px ;
}
 
.highlight-2{
  background:  linear-gradient(40deg,black,white,white,white,black);
  color:transparent;
  background-clip:text; 
}
a{
  text-decoration:none;
  color:black;
}
header {
  background: #000;
  padding:20px ;
  position: fixed;
  width: 96%;
  margin:0px auto; 
  z-index: 1;
}
header.active{
  background-color:#0f0;
  color: black;
  transition: 1s;
}
header.active h1 {
  color:black;
}
header.active ul li a{
  color: black;
}
header.active .explore-btn{
  color: #0f0;
  background-color:black;
}
header.active .explore-btn a{
  color:#0f0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #0f0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.explore-btn,.learn-more-btn {
  background: #0f0;
  border: none;
  padding: 10px 20px;
  color: #000;
  cursor: pointer;
  border-radius:5px; 
}

.intro-section {
  display: flex;
  flex-direction: row;
  padding:180px 40px 50px;
  justify-content:center;
  height: auto;
}
.text-content p{
  width:80% ;
}
.text-content h1 .highlight {
  color: #0f0;
}
.text-content h1{
  font-size:2.5em ;
}

.phone {
  width: 400px;
  opacity: 0;
  transform: translateY(50px);
  
}

.phone-1 {
  margin-left: 0px;
  border-radius:10%; 
}

.trusted-section {
  padding: 100px 50px 100px;
  text-align: center;
}
 
.trusted-section .highlight {
  color: #0f0;
}

.features {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.feature {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 5px;
}
.feature:hover{
  background-color:#0f0;
  color:black; 
}
.platform-section {
   display: flex;
   justify-content:space-around;
   padding: 50px;
   column-gap:60px; 
   place-items:center; 
}

.platform-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: #0f0;
  padding: 20px;
  border-radius: 5px;
  animation: fadeInUp 1s ease-out;
  color: black;
}

.chart {
  background:#0f0;
  padding: 20px;
  color: #000;
  border-radius: 5px;
  animation: fadeInUp 1s ease-out;
}
.chart:hover,.card:hover{
  background-color:black;
  color: white;
}

.platform-text {
  max-width: 500px;
  text-align: left;
  animation: fadeIn 1s ease-out;
}

.portfolio-section {
  padding: 80px;
  text-align: center;
  animation: fadeInUp 1.5s ease-out;
}

.portfolio-options {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
 
}

.option {
  background: #1c1c1c;
  padding: 20px;
  width: 30%;
  border-radius: 5px;
}
.features-section {
  display: flex;
  justify-content:center; 
  width: 100%;
  column-gap:30px; 
  padding: 80px 50px 100px;
  text-align: center;
  animation: fadeInUp 1.5s ease-out;
}

.features-section h2 .highlight {
  color: #0f0;
}

.features {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  place-items:center; 

}

.feature {
  background: #1c1c1c;
  padding: 20px;
  width: 80%;
  margin:10px 0px 0px; 
  row-gap:20px; 
  flex-grow:1; 
  border-radius: 5px;
  text-align: left;
  animation: fadeInUp 1s ease-in-out;
}

.footer {
  width: 100%;
  background: #000;
  padding: 50px;
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.branding {
  width: 30%;
}
.footer-content .branding p{
  width:100% ;
}
.branding h3 {
  color: #0f0;
}

.social-icons span {
  margin-right: 10px;
  cursor: pointer;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.footer-links div {
  width: 22%;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}
.footer-links ul li{
  width: 100%;
}
.newsletter{
  display:flex ;
  flex-direction:column ;
  row-gap:10px; 
}
.newsletter input {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

.newsletter button {
  background: #0f0;
  border: none;
  padding: 10px 20px;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  width:120px ;
}

@media (max-width:786px) {
  .nav-links {
  display: none;
  justify-content: space-between;
  align-items: center;
}
.nav-bar h1{
  font-size:1.5em; 
}
.nav-bar .explore-btn{
 background: #0f0;
 border: none;
 padding: 10px 10px;
 color: #000;
 margin-right:20px; 
 cursor: pointer;
 border-radius:5px;
}
.intro-section {
  display: flex;
  flex-direction: column;
  padding:110px 40px 50px;
  justify-content: space-evenly;
  height: auto;
  gap:30px; 
}
.text-content p{
  width:80% ;
}
.text-content h1 .highlight {
  color: #0f0;
}
.text-content h1{
  font-size:2.5em ;
}

.phone {
  width: 80%;
  opacity: 0;
  transform: translateY(50px);
  justify-self: center;
}
.phone-display{
  display: flex;
  place-content:center;
  place-items:center; 
  width: 100%;
}

.phone-1 {
  border-radius:10%; 
}

.trusted-section {
  padding: 20px 50px 100px;
  justify-content:center; 
  text-align: center;
  margin:auto auto; 
  margin-left:0px; 
}
 
.trusted-section .highlight {
  color: #0f0;
}

.features {
  display: flex;
  justify-content:center;
  margin-top: 20px;
}

.feature {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 5px;
}
.feature:hover{
  background-color:#0f0;
  color:black; 
}
.platform-section {
   display: flex;
   flex-direction:column-reverse ;
   justify-content:space-around;
   padding:20px 50px ;
   row-gap:60px; 
   place-items:center; 
}

.platform-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: #0f0;
  padding: 20px;
  border-radius: 5px;
  animation: fadeInUp 1s ease-out;
  color: black;
}

.chart {
  background:#0f0;
  padding: 20px;
  color: #000;
  border-radius: 5px;
  animation: fadeInUp 1s ease-out;
}
.chart:hover,.card:hover{
  background-color:black;
  color: white;
}

.platform-text {
  max-width: 500px;
  text-align: left;
  animation: fadeIn 1s ease-out;
}

.portfolio-section {
  padding: 50px ;
  text-align: center;
  animation: fadeInUp 1.5s ease-out;
}

.portfolio-options {
  display: flex;
  flex-direction:column ;
  justify-content: space-around;
  margin-top: 30px;
 
}

.option {
  background: #1c1c1c;
  width: 80%;
  border-radius: 5px;
  margin:15px auto; 
}
.features-section {
  display: flex;
  flex-direction:column-reverse ;
  column-gap:30px; 
  padding:  30px 0px 50px ;
  text-align: center;
  animation: fadeInUp 1.5s ease-out;
}
.feature-content{
  padding:50px ;
}
.features-section .bottom-img{
  display:flex ;
  flex-direction: column;
  width:100% ;
  justify-content:center; 
  margin:10px auto; 
}

.features-section h2 .highlight {
  color: #0f0;
}

.features {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  flex-wrap: wrap;
  justify-content:center;
  margin-top: 30px;
  place-items:center; 

}

.feature {
  background: #1c1c1c;
  padding: 20px;
  width: 80%;
  margin:10px 0px 0px; 
  row-gap:20px; 
  flex-grow:1; 
  border-radius: 5px;
  text-align: left;
  animation: fadeInUp 1s ease-in-out;
}

.footer {
  background: #000;
  padding: 50px 0px;
  color: #fff;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 30px;
}

.branding {
  width: 100%;
}

.branding h3 {
  color: #0f0;
}

.social-icons span {
  margin-right: 10px;
  cursor: pointer;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
}

.footer-links div {
  width: 52%;
}

.footer-link ul {
  list-style: none;
  padding: 0;
}
 .newsletter{
  display:flex ;
  flex-direction:column ;
  row-gap:10px; 
}
.newsletter input {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

.newsletter button {
  background: #0f0;
  border: none;
  padding: 10px 20px;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  width:120px ;
}


}